body {
    font-family: 'inter', sans-serif;
    background-color: #F5F5F5;
    margin: 0;
}

.header-logout {
    display: none;
    position: relative;
    left: -120px;
    top: 47px;
}

.logout-button {
    width: 70px;
    height: 40px;
    background-color: cornflowerblue;
    border-radius: 15px 0 15px 15px;
    color: white;
    font-size: 14px;
    z-index: 999;
}

.subtaskBar {
    height: 8px;
    border-radius: 4px;
    background-color: #4589ff;
}

.overflow-hidden {
    overflow: hidden;
}

.loader-background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

button {
    border: unset;
    cursor: pointer;
}

input {
    padding: unset;
}



.sidebar-header {
    position: absolute;
    left: 0px;
    top: 0px;
    min-height: 100%;
    background-color: #2A3647;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 36px 20px 348px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    font-size: 21px;
    background-color: #ffffff;
}

.header-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 36px 20px 348px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    font-size: 21px;
    background-color: #ffffff;
}

.head-container-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 26px;
    width: 106px;
    height: 49px;

}

.head-container-right img {
    cursor: pointer;
}

.head-profile-img {
    width: 46.12px;
    height: 46.12px;
    border: 3px solid black;
    border-radius: 100%;
}

.sidebar-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    font-size: 16px;
    font-weight: 400;
}

.sidebar-mid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 232px;
    height: 229px;
    gap: 20px;
    font-size: 16px;
    font-weight: 400;
}

.sidebar-mid a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 60px;
    gap: 15px;
    padding-right: 10px;
}

.sidebar-mid a:hover {
    background-color: #091931;
}

.sidebar-mid a:nth-child(2) {
    padding-right: 15px;
}


.sidebar-bottom {
    display: flex;
    flex-direction: row-reverse;
    margin: 274px 0px 0px;
    gap: 15px;
    width: 232px;
    height: 60px;
    color: white;
    background-color: #2A3647;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.sidebar-bottom:hover {
    background-color: #091931;
}

.sidebar-center {
    width: inherit;
    display: flex;
    flex-direction: column;
}

.imprint {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 20px;
    width: 160px;
    height: 46px;
}

.margin-none {
    margin: unset;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block;
}

.blur {
    filter: blur(8px);
}

.blur-null {
    filter: blur(0px);
}

.pointer {
    cursor: pointer;
}