/*
   #### SUMMARY ####
*/
@media (max-width: 1500px) {
    .sum-mid-greeting {
        left: 1000px;
        width: 250px;
    }
}

@media (max-width: 1300px) {
    .sum-mid-span-greeting {
        font-size: 40px;
    }

    .sum-mid-span-username {
        font-size: 55px;
    }
}

@media (max-width: 1200px) {
    .headline-index-summary {
        left: 330px;
    }

    .summary-overview {
        height: auto;
    }

    .sum-task-overview {
        width: 120px;
        height: 120px;
    }

    .sum-task-number {
        font-size: 45px;
        height: auto;
    }

    .sum-task {
        font-size: 19px;
    }

    .sum-task-mid {
        width: 430px;
        gap: 30px;
    }

    .sum-mid-left {
        gap: 0;
    }

    .sum-bottom-overview {
        width: 430px;
    }

    .sum-bottom-div {
        gap: 0;
    }

    .sum-mid-greeting {
        left: 830px;
        top: 460px;
    }

    .sum-mid-span-greeting {
        font-size: 38px;
    }

    .sum-mid-span-username {
        font-size: 48px;
    }
}



@media (max-width: 1000px) {
    .sum-mid-greeting {
        display: none;
    }

    .summary-overview {
        left: 300px;
    }

    .headline-index-summary {
        left: 280px;
        width: 560px;
        justify-content: space-evenly;
    }


    .headline-index-summary span {
        font-size: 50px;
    }

    .headline-index-summary p {
        font-size: 23px;
    }
}

@media (max-width: 850px) {
    .header {
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
        flex-direction: row;
        position: sticky;
        top: 0;
    }

    .header-contacts {
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
        flex-direction: row;

        top: 0;
    }

    .headline-index-summary {
        width: 100vw;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        position: unset;
        height: 190px;
    }

    .new-logo {
        width: 50px;
        display: block !important;
    }

    .header span {
        display: none;
    }

    .header-contacts span {
        display: none;
    }

    .headline-index-summary span {
        font-size: 46px;
    }

    .sidebar-mid a:nth-child(2) {
        margin-left: 0;
    }

    .headline-bar {
        display: none;
    }

    .headline-index-summary p {
        border-bottom: 3px solid #29abe2;
        margin: 10px;
    }

    .summary-overview {
        justify-content: center;
        align-items: center;
        width: 100vw;
        position: unset;
        gap: 15px;
        margin-top: 15px;
    }

    .sidebar-header {
        position: fixed;
        top: 95vh;
        display: flex;
        width: 100vw;
    }

    .sidebar-top {
        display: none;
    }

    .sidebar-center {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        flex: 1 1 0;
        flex-basis: 0;
    }

    .sidebar-mid {
        width: 100vw;
    }

    .sidebar-bottom {
        display: none;
    }

    .sidebar-mid a {
        height: 90px;
        /*padding: 0 12px;
        flex: 1 1 0;*/
        font-size: 20px;
        width: 25vw;
    }

    .sum-mobile {
        display: block;
        border-bottom: 0 !important;
        font-size: 20px;
    }

}

@media (max-width: 650px) {
    .sidebar-mid a {
        font-size: 18px;
        flex-direction: column-reverse;
    }

    .sidebar-mid a div {
        width: 35px;
    }
}

@media (max-width: 550px) {
    .sidebar-mid a {

        font-size: 18px;

    }

    .sidebar-mid a div {
        width: 35px;
    }
}

@media (max-width: 450px) {



    .headline-index-summary p {
        font-size: 20px;
    }

    .sum-task-overview {
        width: 90px;
        height: 105px;
    }

    .sum-task {
        font-size: 15px;
    }

    .sum-task-top {
        gap: 25px;
    }

    .sum-mid-all {
        justify-content: center;
    }

    .sum-task-mid {
        width: 300px !important;
        gap: 20px;
        height: 130px;
    }

    .sum-mid-left {
        flex-direction: column-reverse;
        height: unset;
    }

    .sum-mid-left img {
        width: 50px;
    }

    .sum-mid-span-top {
        font-size: 18px;
    }

    .sum-bottom-overview {
        gap: 15px;
        width: 320px;
        height: 160px;
    }

    .sum-bottom-div {
        height: 150px;
        flex-direction: column-reverse;
        width: 150px;
    }

    .sum-bottom-div img {
        width: 50px;
    }

    .sum-bottom-right-section {
        height: 90px;
    }
}

@media (max-width: 400px) {
    .sidebar-mid a {
        font-size: 16px;
        padding: 0;
    }

    .sidebar-mid a:nth-child(2) {
        padding-right: 0;
    }

    .headline-index-summary {
        height: 135px;
    }
}

/*
    #### CONTACTS ####
*/

@media (max-width: 1400px) {
    .new-contact {
        left: 700px;
        top: 80vh;
    }

    .headline-index-contact {
        left: 700px;
    }
}

@media (max-width: 1300px) {
    .headline-index-contact span {
        font-size: 50px;
    }

    .headline-index-contact p {
        font-size: 24px;
    }

    .headline-index-contact {
        gap: 20px;
        width: unset;
        left: 670px;
    }

    .contact-list {
        width: inherit;
    }

    /*.contact-list-overview {
        width: 390px;
    }*/

    .first-char {
        margin-bottom: 15px;
    }

    .new-contact {
        left: 660px;

    }
}

@media (max-width: 1200px) {
    .contact-main {
        width: unset;
    }

    /*.contact-list-overview {
        width: 330px;
    }*/

    .headline-index-contact {
        top: 150px;
        left: 590px;
        gap: 15px;
    }

    .show-contact-headline {
        flex-direction: column;
        gap: 20px;
    }

    .headline-index-contact span {
        font-size: 42px;
    }

    .show-contact-middle {
        gap: 50px;
    }

    .new-contact {
        left: 600px;
        top: 85vh;
    }

}

@media (max-width: 1000px) {

    .first-char {
        padding-left: 20px;
    }

    .contact-card {
        gap: 20px;
        align-items: center;
        width: inherit;
        padding: unset;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .headline-index-contact {
        flex-direction: column;
        gap: 0;
        left: 600px;
    }

    .headline-index-contact p {
        margin: 5px;
        font-size: 20px;
        border-bottom: 3px solid #29abe2;
        padding-bottom: 12px;
    }

    .headline-index-contact span {
        font-size: 50px;
    }

    .headline-index-contact img {
        display: none;
    }

    .show-contact {
        left: 550px !important;
    }

    .show-contact-middle {
        gap: 20px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .show-contact-headline-right {
        margin-left: 0;
    }

    .blue-font {
        font-size: 20px;
    }

    .contact-head-name {
        font-size: 40px;
    }
}

@media (max-width: 850px) {
    .contact-list-overview {
        left: 0;
        top: 81px;
        padding-bottom: 106px;
    }

    .contact-main {
        height: 86vh;
        /*width: 100vw;*/
        display: flex;
        justify-content: center;
    }

    .show-contact {
        left: 320px !important;
        top: 265px !important;
    }

    .headline-index-contact {
        position: absolute;
        left: 290px !important;
    }

    .headline-index-contact span {
        font-size: 40px;
    }

    .contact-head-name {
        font-size: 30px;
    }

    .new-contact {
        left: 570px;
        width: 115px;
        font-size: 17px;
        margin-bottom: 125px;
        top: 12vh;
    }
}

@media (max-width: 700px) {
    .new-contact {
        left: 360px;
        top: 15vh;
    }

    .headline-index-contact {
        top: 7vh;
    }
}

@media (max-width: 600px) {
    .show-contact {
        left: 290px !important;
        top: 270px;
    }
}


@media (max-width: 550px) {
    .contact-list-overview {
        width: 200px;
    }

    .contact-card {
        flex-direction: column;
        height: unset;
    }

    .contact-info {
        justify-content: center;
    }

    .contact-info p {
        font-size: 14px;
    }

    .contact-img {
        margin-left: 0;
    }

    .headline-index-contact {
        /* margin-left: 225px; */
        /* margin-top: 75px; */
        left: 210px !important;
        justify-content: flex-end;
    }

    .headline-index-contact span {
        font-size: 46px;
    }

    .headline-index-contact p {
        font-size: 18px;
    }

    .new-contact {
        left: 220px;
    }

    .show-contact {
        left: 225xpx !important;
    }
}

@media (max-width: 450px) {
    .contact-main {
        background-color: #ffffff;
    }

    .contact-list-overview {
        width: 100vw;
        height: 75vh;
    }

    .contact-list {
        top: unset;
        height: unset;
    }

    .headline-index-contact {
        display: none;
    }

    .contact-img {
        width: 70px;
        height: 70px;
        font-size: 25px;
    }

    .contact-info p {
        font-size: 18px;
    }

    .contact-info span {
        font-size: 30px;
    }

    .contact-card {
        gap: 15px;
    }

    .new-contact {
        top: 60px !important;
        left: unset !important;
        width: 140px !important;
        height: 50px !important;
    }

    .full-container {
        position: absolute !important;
        left: 58vw !important;
        top: 0vh !important;
    }

    .show-contact {
        left: 0 !important;
        top: 12vh !important;
        background: white;
        width: 100vw;
        align-items: center;
    }

    .w3-add {
        left: 0 !important;
    }

    .show-contact-middle {
        align-items: center;
    }

    .show-contact-bottom {
        align-items: center;
        gap: 10px;
    }
}

/*
    #### ADD CONTACT ####
*/

@media (max-width: 1750px) {
    .full-container {
        left: -190px !important;
        scale: 0.7 !important;
    }
}

@media (max-width: 1600px) {
    .full-container {
        width: 1000px !important;
        left: -160px !important;
    }

    .left-container {
        justify-content: space-evenly !important;
        gap: 0 !important;
        padding-left: 25px;
    }

    .left-container h1 {
        font-size: 60px !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .x-container {
        position: relative !important;
        left: 580px !important;
        top: -265px !important;
        cursor: pointer;
        font-size: 20px !important;
    }

    .blue-bar {
        margin-top: -50px !important;
    }

    .join-logo-add {
        position: unset !important;
    }

    .right-container {
        width: unset !important;
        flex-direction: row !important;
        align-items: center !important;
    }

    .input {
        position: unset !important;
        padding-top: 40px !important;
        padding-right: 20px !important;
        width: unset !important;
    }

    .img-container {
        position: unset !important;
        flex-direction: unset !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .left-container span {
        font-size: 25px !important;
    }
}

@media (max-width: 1450px) {
    .full-container {
        left: 0 !important;
        top: -40px !important;
        width: 800px !important;
        height: 1000px !important;
        flex-direction: column !important;
    }

    .w3-add {
        top: -200px;
    }

    .left-container {
        /* AB HIER TOP-CONTAINER */
        width: unset !important;
        padding-top: 20px !important;
        display: block !important;
        padding-bottom: 30px !important;
        border-radius: 30px 30px 0px 0px !important;
    }

    .left-container h1 {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    .blue-bar {
        display: none !important;
    }

    .headline-index-contact {
        left: 670px;
        top: 130px;
    }

    .x-container {
        top: 20px !important;
        left: 330px !important;
        font-size: 25px !important;
    }

    .right-container {
        flex-direction: column !important;
    }
}

@media (max-width: 1300px) {
    .w3-add {
        top: -175px;
        left: -110px;
    }
}

@media (max-width: 1250px) {
    .full-container {
        width: 670px !important;
    }

    .x-container {
        top: 30px !important;
        left: 290px !important;
    }


}

@media (max-width: 1200px) {
    .full-container {
        left: 50px !important;
    }

    .headline-index-contact {
        justify-content: unset;
        left: 600px;
    }

    .x-container {
        left: 300px !important;
    }

    .input {
        padding-right: 0 !important;
    }

    .w3-add {
        left: -160px;
    }
}

@media (max-width: 1100px) {


    .full-container {
        width: 550px !important;
        left: 150px !important;
    }

    .x-container {
        left: 250px !important;
    }

    .w3-add {
        left: -230px;
    }
}

@media (max-width: 1000px) {
    .full-container {
        left: 150px !important;
        width: 500px !important;
    }

    .x-container {
        left: 220px !important;
    }
}

@media (max-width: 900px) {
    .full-container {
        left: 170px !important;
        width: 450px !important;
    }

    .x-container {
        left: 175px !important;
    }

    .w3-add {
        left: -265px;
    }
}

@media (max-width: 850px) {
    .full-container {
        left: 85px !important;
        width: 550px !important;
        top: -135px !important;
    }

    .w3-add {
        left: -220px;
    }

    .headline-index-contact {
        top: 80px;
        flex-direction: row;
        gap: 15px !important;
    }
}

@media (max-width: 800px) {
    .full-container {
        left: 75px !important;
    }
}

@media (max-width: 750px) {
    .full-container {
        left: 165px !important;
        width: 400px !important;
        height: 950px !important;
        top: -50px !important;
    }

    .left-container h1 {
        font-size: 50px !important;
    }

    .w3-add {
        left: -260px;
    }

    .headline-index-contact {
        top: 80px;
        flex-direction: column !important;
        gap: 0 !important;
    }
}

@media (max-width: 600px) {
    .full-container {
        position: unset !important;
        width: 550px !important;
        padding-bottom: 30px !important;
        height: 1030px !important;
    }

    .left-container {
        width: 525px !important;
        border-radius: 30px 30px 0 0 !important;
        padding-top: 50px !important;
        height: 380px !important;
        gap: 30px;
        padding-left: 25px !important;
    }

    .left-container h1 {
        font-size: 55px;
    }

    .left-container span {
        font-size: 28px;
    }

    .join-logo-add {
        width: 80px;
        height: 95px;
    }

    .right-container {
        width: 550px !important;
        border-radius: 0 0 30px 30px !important;
        align-items: center;
    }

    .log-in-input {
        width: 450px !important;
    }

    .x-container {
        right: -280px !important;
    }

    .edit-button {
        gap: 80px;
    }

    .cancel-x {
        width: 100vw;
        font-size: 23px;
        display: flex;
        justify-content: flex-end;
        margin-right: 60px;
        padding-top: -5px;
        cursor: pointer;
    }

    .blue-bar {
        display: unset !important;
        margin-left: -320px;
        margin-bottom: -20px;
        width: 120px !important;
    }
}

@media (max-width: 500px) {

    .full-container {
        position: unset !important;
        width: 420px !important;
        /*margin-left: -50px;*/
    }

    .left-container {
        width: 397px !important;
    }

    .right-container {
        width: 418px !important;
    }

    .x-container-add {
        right: -180px !important;
        top: -1040px !important;
    }

    .log-in-input {
        width: 370px !important;
    }

    .x-container {
        left: 175px !important;
        right: 0;
    }
}

@media (max-width: 400px) {
    .full-container {
        height: 820px !important;
    }

    .left-container {
        height: 215px !important;
        padding-top: 25px !important;
    }

    .input {
        gap: 13px !important;
        padding-top: 15px !important;
    }

    .img-container {
        width: 90px !important;
        height: 90px !important;
    }
}

/*
    #### Board ####
*/

@media (max-width: 1600px) {
    .content {
        width: 1000px;
    }

    /*.headline-board {
        width: 65vw;
        margin-top: 20px;
    }

    .task-sections {
        width: 83vw;
    }*/

    .task {
        width: 20%;
        /*display: flex;*/
        /*justify-content: center;*/
    }
}

@media (max-width: 1320px) {
    .content {
        width: 850px;
    }

    .task {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1170px) {
    .content {
        width: 700px;
    }
}

@media (max-width: 1030px) {
    .content {
        left: 280px;
        width: 570px;
    }

    .task-sections {
        width: 66vw;
    }

    /*
    .search-task {
        width: 500px;
    }

    .add-search-bar {
        justify-content: flex-end;
        gap: 5px;
    }
    
    .section-header {
        gap: 20px;
        justify-content: center;
    }

    .task-sections {
        width: 72vw;
    }*/



    .headline-board {
        display: unset;
    }


}

@media (max-width: 850px) {
    .content {
        left: unset;
        width: 90%;

    }



    .headline-board {

        display: flex;
    }

    .task-sections {
        width: unset;
    }
}

@media (max-width: 760px) {

    .headline-board {
        display: unset;
    }


}

@media (max-width: 670px) {
    .search-task {
        width: 160px;
    }

    /* .show-addTask {
        /*right: 3px !important;
        /*overflow-y: auto;
    }*/



    /*.content {

        overflow-y: scroll !important;

    }

    body {
        overflow-y: hidden;
    }*/

    .task span {
        font-size: 21px;
    }


    .task-sections {
        padding-bottom: 100px;
        flex-direction: column;
        align-items: center;
        z-index: -2;
    }

    .headline-board {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 30px;
    }

    .search-task {
        width: 250px;
    }

    .add-search-bar {
        justify-content: space-between;

        width: 450px;
    }

    .task {
        width: 70%;
    }
}

@media (max-width: 500px) {
    /*.headline-board {
        width: 95vw;
    }*/

    .add-search-bar {
        flex-direction: column-reverse;
        align-items: center;
        gap: 15px;
        width: unset;
    }
}

@media (max-width: 850px) and (min-height: 600px) {

    .content {
        top: 100px;
    }

    .sidebar-header {
        top: 86vh !important;
        z-index: 100;
    }

    /*.task-sections {
        height: 32vh;
    }*/
}

@media (max-width: 850px) and (min-height: 700px) {

    .sidebar-header {
        top: 87vh !important;
        z-index: 100;

    }

    /*.task-sections {
        height: 39vh;
    }*/
}

@media (max-width: 850px) and (min-height: 800px) {

    .sidebar-header {
        top: 89vh !important;
        z-index: 100;
    }

    /*.task-sections {
        height: 47vh;
    }*/
}

/*
    #### ADD TASK #### 
*/

@media (max-width: 1400px) {
    .addTaskContent {
        margin-top: 45px;
        margin-left: 290px;
    }


}

@media (max-width: 1250px) {

    .taskContentLeft {
        width: 300px;
    }

    .addTotaskInputField {
        width: 215px;
    }

    .input-description {
        width: 215px;
    }

    .category-box {
        width: 215px;
    }

    .selection-category {
        width: 200px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .category-box-standard {
        width: 215px;
    }

    .category-box-render {
        width: 215px;
        padding-bottom: 10px;
        border-bottom: 0.1px solid black;
    }

    .accepted-category {
        width: 215px;
    }

    .input-nav-box {
        left: 225px;
    }

    input {
        font-size: 16px;
    }

    .render-category-box {
        width: 215px;
    }

    .assigned-to-box {
        width: 215px;
        padding-bottom: 10px;
        border-bottom: 0.1px solid black;
    }

    .select-category {
        width: 150px;
    }

    .searched-emails {
        width: 270px;
    }

    .selection-contacts {
        width: 200px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .btnRow {
        padding-left: 20px;
        padding-top: 135px;
        width: 250px;
    }
}

@media (max-width: 1250px) {
    .addTask-header {
        font-size: 55px;
    }

    /*.addTaskContent {
        margin-left: 250px;
    }*/

    .taskContentLeft {
        width: 250px;
    }

    .input-nav-box {
        top: -90px;
        left: 150px;
    }

    .color-box {
        width: 210px;
        left: 0;
    }

    .prio-box {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .selection-category {
        padding-left: 15px;
        padding-right: 0;
        width: 200px;
    }

    .render-category-box {
        width: 215px;
    }

    .select-category {
        width: 215px;
    }

    .assigned-to-box {
        width: 215px;
    }

    .selection-category {
        padding-top: 15px;
    }

    .addTask-subheaders {
        font-size: 20px;
    }

    .selection-category img {
        padding-right: 5px;
    }

    .btnRow {
        padding-top: 0;
        padding-left: 10px;
        align-items: center;
        width: 300px;
    }
}

@media (max-width: 1100px) {
    .show-addTask {
        /*display: flex; */
        top: 0px !important;
        left: 0px;
        right: 0px;
        bottom: 0px;
        position: fixed;
        z-index: 100 !important;

        background-color: white;
        padding: 65px;
        border-radius: unset !important;
        /* width: 900px; 
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    /* height: 931px; */

        overflow-y: auto;
    }
}



@media (max-width: 850px) {
    .sidebar-header {
        top: 90vh;
    }

    .addTaskContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        margin-left: 0;
        margin-bottom: 117px;
        /*width: 100vw;*/
    }



    /*.taskContent {
        align-items: center;
        justify-content: center;
    }

    .taskContent-Include {
        align-items: center;
        justify-content: center;
    }*/



    .taskContentRight {
        width: 250px;
    }
}

@media (max-width: 730px) {

    .accepted-category {
        width: unset;
    }

    .addTask-header {
        margin-bottom: 0;
    }

    .taskContent {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }

    .taskContent-Include {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }

    .taskContentLeft {
        border: unset;
        width: auto;
    }

    .addTotaskInputField {
        width: 422px;
    }

    .input-description {
        width: 422px;
        min-height: 90px;
    }

    .input-nav-box {
        left: 350px;
    }

    .color-box {
        left: 0;
        width: 275px;
    }

    .render-category-box {
        width: 422px;
    }

    .select-category {
        width: 380px;
    }

    .taskContentRight {
        width: unset;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .addToTaskInputSection {
        padding-top: 10px;
        padding-bottom: 0;
        padding-right: 0;
    }

    .addToTaskInputSectionRight {
        padding-left: 20px;
        padding-bottom: 0;
        padding-top: 15px;
    }

    .prio-icon {
        width: 422px;
    }

    .category-box-standard {
        width: 422px;
    }

    .btnRow {
        width: unset;
        justify-content: space-evenly;
        padding-top: 0;
        /*margin-bottom: 72px;*/
    }

    .subtask {
        margin-bottom: -15px;
    }
}

@media (max-width: 580px) {
    .addTask-header {
        font-size: 55px;
        margin-bottom: 10px;
    }

    .addTask-Subheaders {
        font-size: 18px;
    }

    .addTotaskInputField {
        width: 270px;
    }

    .addToTaskInputSectionRight {
        padding-top: 10px;
    }

    .input-description {
        width: 270px;
        min-height: 100px;
    }

    .searched-emails {
        width: 270px;
    }

    .input-nav-box {
        top: -90px;
        left: 150px;
        padding-top: 5px;
    }

    .render-category-box {
        width: 270px;
    }

    .select-category {
        width: 380px;
    }

    .selection-category {
        padding-left: 5px;
        padding-right: 5px;
        width: 260px;
    }

    .prio-icon {
        width: 270px;
    }

    .btnRow {
        width: unset;
        /*flex-direction: column;*/
        gap: 5px;
        margin-top: -10px;
    }

    .contact-icon {
        width: 35px;
        height: 35px;
        margin-top: 10px;
    }

    .category-box-standard {
        width: 270px;
    }

    .category-box {
        width: 270px;
        padding: 10px 0px;
    }

    .category-box-render {
        width: 270px;
    }

    .assigned-to-box {
        width: 270px;
    }

    .selection-contacts {
        width: 260px;
    }

    .addTask-Subheaders {
        font-size: 18px;
    }

    .sum-task-mid {
        width: 390px;
    }

    .sum-bottom-right-section {
        height: 80px;
    }

}

@media (max-width: 450px) {
    .sidebar-header {
        top: 89vh !important;
    }
}

/*
    #### Edit Contact ####
*/

@media (max-width: 1650px) {
    .full-container-edit {
        scale: 0.7 !important;
        left: -190px !important;
    }
}

@media (max-width: 1550px) {
    .input-edit {
        margin-left: 15px !important;
    }

    .right-container-edit {
        width: 615px !important;
    }

    .left-container-edit {
        width: 390px !important;
        padding-left: 30px !important;
        justify-content: flex-start !important;
        padding-top: 70px;
    }

    .join-logo-edit {
        position: unset !important;
    }

    .contact-img-big {
        width: 100px;
        height: 100px;
        font-size: 40px;
    }

    .img-container-edit {
        width: 100px !important;
        height: 100px !important;
    }
}

@media (max-width: 1450px) {
    .right-container-edit {
        width: 470px !important;
        flex-direction: column;
        gap: 25px;
        padding-top: 10px;
    }

    .input-edit {
        margin-left: 0;
    }

    .left-container-edit {
        width: 300px !important;
    }

    .full-container-edit {
        left: -160px !important;
    }

    input {
        font-size: 21px;
    }

    .x-container-edit {
        top: -100px !important;
        right: -215px !important;
        font-size: 25px;
    }
}

@media (max-width: 1200px) {

    #w3-edit {
        /*display: unset;*/
        width: 301px;
    }

    .full-container-edit {
        /*width: unset !important;
        height: unset !important;*/
        flex-direction: column !important;
        left: 0px !important;
        top: -100px !important;
    }

    .left-container-edit {
        width: 450px !important;
        border-radius: 30px 30px 0 0 !important;
        padding-top: 40px !important;
        height: 380px !important;
    }

    .right-container-edit {
        width: 479px !important;
        height: 580px !important;
        border-radius: 0 0 30px 30px !important;
        background-color: #ffffff;
    }

    .img-container-edit {
        width: 100px !important;
        height: 100px !important
    }

    .contact-img-big {
        width: 100px !important;
        height: 100px !important;
    }

    .input-edit {
        margin-left: 0 !important;
        gap: 45px;
    }

    .x-container-edit {
        top: -380px !important;
        right: -220px !important;
        filter: invert(1);
    }
}

@media (max-width: 1050px) {
    .full-container-edit {
        left: -65px !important;
        top: -135px !important;
    }
}

@media (max-width: 900px) {
    .left-container-edit {
        width: 350px !important;
    }

    .left-container-edit h1 {
        font-size: 50px;
    }

    .left-container-edit span {
        font-size: 25px;
    }

    .right-container-edit {
        width: 378px !important;
        height: 600px !important;
    }

    .input-edit {
        gap: 40px;
    }

    .log-in-input {
        width: 350px !important;
    }

    .edit-button {
        gap: 20px;
    }

    .primary-btn {
        width: unset !important;
    }

    .x-container-edit {
        top: -380px !important;
        right: -180px !important;
    }
}

@media (max-width: 850px) {

    .full-container-edit {
        left: -80px !important;
        top: -160px !important;
    }

    .left-container-edit {
        width: 500px !important;
        border-radius: 30px 30px 0 0 !important;
        padding-top: 40px !important;
        height: 380px !important;
        gap: 20px;
    }

    .right-container-edit {
        width: 527px !important;
        height: 700px !important;
        border-radius: 0 0 30px 30px !important;
        background-color: #ffffff;
    }

    .input-edit {
        gap: 50px;
    }

    .edit-button {
        gap: 40px;
    }

    .log-in-input {
        width: 420px !important;
    }

    .x-container-edit {
        top: -400px !important;
        right: -240px !important;
    }
}

@media (max-width: 750px) {
    .log-in-input {
        width: 350px !important;
    }

    input {
        width: 350px;
    }
}

@media (max-width: 700px) {

    .left-container-edit {
        width: 370px !important;
    }

    .right-container-edit {
        width: 399px !important;
    }

    .log-in-input {
        width: 350px !important;
    }

    .x-container-edit {
        top: -395px !important;
        right: -190px !important;
    }
}

@media (max-width: 600px) {

    .full-container-edit {
        left: 0 !important;
        top: -95px !important;
    }

    #w3-edit {
        display: none;
    }

    .left-container-edit {
        width: 640px !important;
        border-radius: 30px 30px 0 0 !important;
        padding-top: 70px !important;
        height: 380px !important;
        gap: 30px;
    }

    .left-container-edit h1 {
        font-size: 55px;
    }

    .left-container-edit span {
        font-size: 28px;
    }

    .join-logo-edit {
        width: 80px;
        height: 95px;
    }

    .right-container-edit {
        width: 667px !important;
        border-radius: 0 30px 30px 0;
        border: 0.1px solid #d1d1d1;
        align-items: center;
    }

    .log-in-input {
        width: 450px !important;
    }

    .x-container-edit {
        position: relative;
        top: -385px !important;
        right: -300px !important;
    }

    .edit-button {
        gap: 80px;
    }
}

@media (max-width: 500px) {
    .left-container-edit {
        width: 460px !important;
    }

    .right-container-edit {
        width: 488px !important;
    }

    .x-container-edit {
        right: -180px !important;
        top: -1040px !important;
    }

    .log-in-input {
        width: 370px !important;
    }
}

@media (max-width: 400px) {
    .w3-edit {
        width: 355px !important;
        height: 570px !important;
    }
    
    .sidebar-header {
        min-height: unset;
        height: 90px !important;
    }

    .sidebar-mid {
        height: 90px !important;
    }

    h1 {
        font-size: 50px !important;
    }

    .full-container-edit {
        height: 820px !important;
        top: -132px !important;
        margin-left: -20px;
    }

    .left-container-edit {
        width: 380px !important;
        gap: 0 !important;
        height: 270px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    .right-container-edit {
        width: 408px !important;
        gap: 5px !important;
        padding-top: 15px !important;
        padding-bottom: 0 !important;
    }

    .input-edit {
        gap: 13px !important;
        padding-top: 15px !important;
    }

    .img-container-big {
        width: 90px !important;
        height: 90px !important;
    }

    .blue-bar-edit {
        width: 90px;
        padding-top: 10px;
    }
    
    .log-in-input {
        width: 335px !important;
    }

    .edit-button {
        gap: 20px !important;
    }
}

/*
    #### LEGAL NOTICE ####
*/

@media (max-width: 1400px) {
    .legal-overview {
        width: 63vw;
    }

    /*.arrow-left {
        top: 230px;
    }*/
}

@media (max-width: 1200px) {
    .legal-overview {
        /*height: 68vh;*/
        left: 320px;
    }
}

@media (max-width: 1000px) {
    .legal-overview {
        /*height: 63vh;*/
        left: 280px;
        width: 60vw;
    }
}

@media (max-width: 850px) {
    .legal-overview {
        /*height: 63vh;*/
        left: 100px;
        width: 70vw;
        /*top: 175px;*/
    }

    /*.arrow-left {
        position: fixed;
        width: 25px;
        height: 24px;
        left: 90vw;
        top: 136px;
        cursor: pointer;
    }*/
}

@media (max-width: 700px) {
    .legal-overview {
        left: 60px;
    }

    .headline-index {
        left: 60px;

    }
}

@media (max-width: 420px) {
    .legal-overview {
        padding-bottom: 122px;
    }
}

/*
    ADD TASK POPUP
*/

@media (max-width: 1600px) {
    /*.show-addTask {
        left: 250px;
        top: 220px;
        display: block;
    }*/
}

@media (max-width: 1350px) {
    /*.show-addTask {
        padding: 25px;
        width: 72vw;
        right: 30px;
    }*/

    .addTask-header {
        font-size: 55px;
    }

    .close-addtask-include {
        bottom: 10px;
        right: 0;
    }
}

/*@media (max-width: 1350px) {
    .show-addTask {
        padding: 8px;
    }

    .close-addtask-include {
        bottom: -4px;
        right: 4px;
    }
}*/



@media (max-width: 850px) {
    /*.show-addTask {

        top: 5px;

    }*/

    .cancel-btn {
        width: 110px;
    }

    .create-btn {
        width: 110px;
    }

    .btnRow {
        justify-content: flex-start;
        gap: 10px;
        width: 285px;
    }

    .addTask-header {
        font-size: 46px;
        padding-left: 15px;
    }
}

@media (max-width: 700px) {
    /*.show-addTask {
        left: 20px;
        width: 515px;
    }`*/
}

@media (max-width: 650px) {
    /*.show-addTask {
        left: 20px;
        top: 170px;
        width: 515px;
    }*/
}