/*
   #### SUMMARY ####
*/
@media (max-width: 1500px) {
    .sum-mid-greeting {
        left: 1000px;
    }
}

@media (max-width: 1300px) {
    .sum-mid-span-greeting {
        font-size: 40px;
    }

    .sum-mid-span-username {
        font-size: 55px;
    }
}

@media (max-width: 1200px) {
    .headline-index {
        left: 330px;
    }

    .summary-overview {
        height: auto;
        width: 430px;
        left: 330px;
        top: 330px;
    }

    .sum-task-overview {
        width: 120px;
        height: 120px;
    }

    .sum-task-number {
        font-size: 45px;
        height: auto;
    }

    .sum-task {
        font-size: 19px;
    }

    .sum-task-mid {
        width: 430px;
        gap: 30px;
    }

    .sum-mid-left {
        gap: 0;
    }

    .sum-bottom-overview {
        width: 430px;
    }

    .sum-bottom-div {
        gap: 0;
    }

    .sum-mid-greeting {
        left: 830px;
        top: 460px;
    }
}

@media (max-width: 1000px) {
    .sum-mid-greeting {
        display: none;
    }

    .headline-index {
        left: 300px;
        width: 560px;
        justify-content: space-evenly;
    }

    .headline-index span {
        font-size: 50px;
    }

    .headline-index p {
        font-size: 23px;
    }
}

@media (max-width: 850px) {
    .header {
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
        flex-direction: row;
    }

    .new-logo {
        width: 50px;
        display: block !important;
    }

    .header span {
        display: none;
    }

    .headline-index span {
        font-size: 46px;
    }

    .headline-index {
        width: 100vw;
        height: 21vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: unset;
    }

    .sidebar-link:nth-child(2) {
        margin-left: 0;
    }

    .headline-bar {
        display: none;
    }

    .headline-index p {
        border-bottom: 3px solid #29abe2;
        margin: 10px;
    }

    .summary-overview {
        justify-content: center;
        align-items: center;
        width: 100vw;
        position: unset;
        gap: 15px;
        margin-top: 15px;
    }

    .sidebar-header {
        position: fixed;
        top: 95vh;
        display: flex;
        width: 100vw;
    }

    .sidebar-top {
        display: none;
    }

    .sidebar-center {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        flex: 1 1 0;
        flex-basis: 0;
    }

    .sidebar-mid {
        width: 100vw;
    }

    .sidebar-bottom {
        display: none;
    }

    .sidebar-link {
        height: 75px;
        padding: 0 12px;
        flex: 1 1 0;
    }

    .sidebar-mid a {
        font-size: 20px;
    }

    .sum-mobile {
        display: block;
        border-bottom: 0 !important;
        font-size: 20px;
    }

}

@media (max-width: 650px) {
    .sidebar-link a {
        font-size: 18px;
    }

    .sidebar-link div {
        width: 35px;
    }
}

@media (max-width: 550px) {
    .sidebar-link {
        flex-direction: column-reverse;
    }

    .sidebar-link a {
        font-size: 18px;
    }

    .sidebar-link div {
        width: 35px;
    }
}

@media (max-width: 450px) {
    .headline-index p {
        font-size: 20px;
    }

    .sum-task-overview {
        width: 90px;
        height: 130px;
    }

    .sum-task {
        font-size: 15px;
    }

    .sum-task-top {
        gap: 25px;
    }

    .sum-mid-all {
        justify-content: center;
    }

    .sum-task-mid {
        width: 320px;
        gap: 20px;
        height: 180px;
    }

    .sum-mid-left {
        flex-direction: column-reverse;
        height: unset;
    }

    .sum-mid-left img {
        width: 50px;
    }

    .sum-mid-span-top {
        font-size: 18px;
    }

    .sum-bottom-overview {
        gap: 15px;
        width: 320px;
        height: 180px;
    }

    .sum-bottom-div {
        height: 180px;
        flex-direction: column-reverse;
        width: 150px;
    }

    .sum-bottom-div img {
        width: 50px;
    }

    .sum-bottom-right-section {
        height: 90px;
    }
}

@media (max-width: 400px) {
    .sidebar-link a {
        font-size: 16px;
    }

    .sidebar-link {
        padding: 0;
    }

    .sidebar-link:nth-child(2) {
        padding-right: 0;
    }
}

/*
    #### CONTACTS ####
*/

@media (max-width: 1400px) {
    .new-contact {
        left: 700px;
        top: 1000px;
    }

    .headline-index-contact {
        left: 700px;
    }
}

@media (max-width: 1300px) {
    .show-contact {
        left: 670px;
    }

    .headline-index-contact span {
        font-size: 50px;
    }

    .headline-index-contact p {
        font-size: 24px;
    }

    .headline-index-contact {
        gap: 20px;
        width: unset;
        left: 670px;
    }

    .contact-list {
        width: inherit;
    }

    .contact-list-overview {
        width: 390px;
    }

    .first-char {
        margin-bottom: 15px;
    }

    .new-contact {
        left: 660px;

    }
}

@media (max-width: 1200px) {
    .contact-list-overview {
        width: 330px;
    }

    .headline-index-contact {
        top: 150px;
        left: 590px;
        gap: 15px;
    }

    .show-contact {
        top: 260px;
        width: 400px;
        left: 590px;
    }

    .show-contact-headline {
        flex-direction: column;
        gap: 20px;
    }

    .headline-index-contact span {
        font-size: 42px;
    }

    .show-contact-middle {
        gap: 50px;
    }

    .new-contact {
        left: 580px;
    }

}

@media (max-width: 1000px) {
    .contact-list-overview {
        width: 285px;
    }

    .first-char {
        width: 200px;
        padding-left: 20px;
    }

    .contact-card {
        gap: 20px;
        align-items: center;
        width: inherit;
        padding: unset;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .headline-index-contact {
        flex-direction: column;
        gap: 0;
        left: 600px;
    }

    .headline-index-contact p {
        margin: 5px;
        font-size: 20px;
        border-bottom: 3px solid #29abe2;
        padding-bottom: 12px;
    }

    .headline-index-contact span {
        font-size: 50px;
    }

    .headline-index-contact img {
        display: none;
    }

    .show-contact {
        width: 400px;
        height: 620px;
        left: 540px;
    }

    .show-contact-middle {
        gap: 20px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .show-contact-headline-right {
        margin-left: 0;
    }

    .blue-font {
        font-size: 20px;
    }

    .contact-head-name {
        font-size: 40px;
    }
}

@media (max-width: 850px) {
    .contact-list-overview {
        left: 0;
        top: 81px;
        height: 84vh;
    }

    .contact-main {
        height: 86vh;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .headline-index-contact {
        margin-left: 285px;
        margin-top: 50px;
        position: unset;
    }

    .show-contact {
        left: 310px;
        width: 300px;
    }

    .contact-head-name {
        font-size: 30px;
    }

    .new-contact {
        left: 300px;
    }
}

@media (max-width: 550px) {
    .contact-list-overview {
        width: 200px;
    }

    .contact-card {
        flex-direction: column;
        height: unset;
    }

    .contact-info {
        justify-content: center;
    }

    .contact-info p {
        font-size: 14px;
    }

    .contact-img {
        margin-left: 0;
    }

    .show-contact {
        left: 230px;
    }

    .headline-index-contact {
        margin-left: 225px;
        margin-top: 75px;
    }

    .headline-index-contact span {
        font-size: 46px;
    }

    .headline-index-contact p {
        font-size: 18px;
    }

    .new-contact {
        left: 220px;
    }
}

@media (max-width: 450px) {
    .contact-main {
        background-color: #ffffff;
    }

    .show-contact {
        display: none;
    }

    .contact-list-overview {
        width: 100vw;
        height: 80vh;
        top: 125px;
    }

    .headline-index-contact {
        display: none;
    }

    .contact-img {
        width: 70px;
        height: 70px;
    }

    .contact-info p {
        font-size: 18px;
    }

    .contact-info span {
        font-size: 30px;
    }

    .contact-card {
        gap: 15px;
    }

    .new-contact {
        top: 69px !important;
        left: unset !important;
        width: 140px !important;
        height: 50px !important;
    }
}

/*
    #### ADD CONTACT ####
*/

@media (max-width: 1600px) {
    .full-container {
        width: 1000px !important;
        left: -160px !important;
    }

    .left-container {
        justify-content: space-evenly !important;
        gap: 0 !important;
        padding-left: 25px;
    }

    .left-container h1 {
        font-size: 60px !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .x-container {
        position: relative !important;
        left: 580px !important;
        top: -265px !important;
        cursor: pointer;
        font-size: 20px !important;
    }

    .blue-bar {
        margin-top: -50px !important;
    }

    .join-logo-add {
        position: unset !important;
    }

    .right-container {
        width: unset !important;
        flex-direction: row !important;
        align-items: center !important;
    }

    .input {
        position: unset !important;
        padding-top: 40px !important;
        padding-right: 20px !important;
        width: unset !important;
    }

    .img-container {
        position: unset !important;
        flex-direction: unset !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .left-container span {
        font-size: 25px !important;
    }
}

@media (max-width: 1450px) {
    .full-container {
        left: -130px !important;
        top: -180px !important;
        width: 800px !important;
        height: 1000px !important;
        flex-direction: column !important;
    }

    .left-container {
        /* AB HIER TOP-CONTAINER */
        width: unset !important;
        padding-top: 20px !important;
        display: block !important;
        padding-bottom: 30px !important;
        border-radius: 30px 30px 0px 0px !important;
    }

    .left-container h1 {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    .blue-bar {
        display: none !important;
    }

    .headline-index-contact {
        left: 700px !important;
    }

    .x-container {
        top: 20px !important;
        left: 330px !important;
        font-size: 25px !important;
    }

    .right-container {
        flex-direction: column !important;
    }

    .new-contact {
        top: 1020px;
    }
}

@media (max-width: 1250px) {
    .full-container {
        width: 670px !important;
    }

    .x-container {
        top: 30px !important;
        left: 290px !important;
    }

    .headline-index-contact {
        justify-content: unset;
    }
}

@media (max-width: 1200px) {
    .full-container {
        top: -160px !important;
        left: -100px !important;
    }

    .x-container {
        left: 300px !important;
    }

    .input {
        padding-right: 0 !important;
    }
}

@media (max-width: 1100px) {
    .headline-index-contact {
        left: 600px !important;
    }

    .full-container {
        width: 550px !important;
    }

    .x-container {
        left: 250px !important;
    }
}

@media (max-width: 1000px) {
    .full-container {
        left: -85px !important;
        width: 500px !important;
    }

    .x-container {
        left: 220px !important;
    }
}

@media (max-width: 900px) {
    .full-container {
        left: -80px !important;
        width: 450px !important;
    }

    .x-container {
        left: 190px !important;
    }
}

@media (max-width: 850px) {
    .full-container {
        left: 0px !important;
        width: 550px !important;
    }
}

@media (max-width: 800px) {
    .full-container {
        left: -50px !important;
    }
}

@media (max-width: 750px) {
    .full-container {
        left: -85px !important;
    }
}

/*
    #### Edit Contact ####
    

*/

/*
    #### Board ####
*/

@media (max-width: 1600px) {
    .content {
        position: unset;
        display: flex;
        left: 355px;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 80vh;
        margin-left: 232px;
    }

    .headline-board {
        width: 65vw;
        margin-top: 20px;
    }

    .task-sections {
        width: 83vw;
    }

    .task {
        width: 20%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1250px) {
    .task-sections {
        width: 80vw;
    }
}

@media (max-width: 1100px) {
    .task-sections {
        width: 77vw;
    }

    .headline-board {
        justify-content: space-between;
    }
}

@media (max-width: 1000px) {
    .search-task {
        width: 200px;
    }

    .add-search-bar {
        justify-content: flex-end;
        gap: 5px;
    }

    .task {
        padding-left: 0;
        padding-right: 0;
    }

    .section-header {
        gap: 20px;
        justify-content: center;
    }

    .task-sections {
        width: 72vw;
    }
}

@media (max-width: 850px) {
    .content {
        margin-left: 0;
    }

    .headline-board {
        width: 85vw;
        justify-content: space-between;
        padding-bottom: 0;
    }

    .task-sections {
        width: 100vw;
    }
}

@media (max-width: 650px) {
    .search-task {
        width: 160px;
    }

    .task span {
        font-size: 21px;
    }

    .task-sections {
        height: inherit;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .headline-board {
        flex-direction: column;
        gap: 10px;
    }

    .search-task {
        width: 250px;
    }

    .add-search-bar {
        justify-content: space-between;
        width: 85vw;
    }

    .task {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .headline-board {
        width: 95vw;
    }

    .add-search-bar {
        flex-direction: column-reverse;
        align-items: center;
        gap: 15px;
    }
}