body {
    font-family: 'inter', sans-serif;
    background-color: #F5F5F5;
}

/*
    #### CSS - HEADER ####
*/

.sidebar-header {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #2A3647;
    width: 232px;
    height: 1024px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 36px 20px 348px;
    gap: 34px;
    position: absolute;
    width: 1208px;
    height: 89px;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    font-size: 21px;
    background-color: #ffffff;
}

.head-container-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 26px;
    width: 106px;
    height: 49px;
}

.head-profile-img {
    width: 46.12px;
    height: 46.12px;
    border: 3px solid black;
    border-radius: 100%;
}

/*
    #### CSS - SIDEBAR ####
*/

.sidebar-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 66px 20px;
    font-size: 16px;
    font-weight: 400;
}

.sidebar-top img {
    width: 100px;
}

.sidebar-mid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 232px;
    height: 229px;
    gap: 15px;
    font-size: 16px;
    font-weight: 400;
}

.sidebar-link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 8px 53px;
    height: 46px;
}

.sidebar-mid a {
    color: white;
    text-decoration: none;
}

.sidebar-link img {
    padding-right: 20px;
}

.sidebar-active {
    background-color: #091931;
    padding-right: 68px;
}

.sidebar-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 243px;
    width: 232px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 0px;
}

.sidebar-bottom span {
    margin-top: 2px;
    padding-left: 10px;
}

/*
    ####    END SIDEBAR - HEADER    ####
*/

.headline-index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    /* gap: 30px; */
    position: absolute;
    width: 630px;
    height: 73px;
    left: 355px;
    top: 171px;
}

.headline-index p {
    font-size: 27px;
}

.headline-index span {
    font-size: 61px;
}

.summary-overview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    position: absolute;
    width: 580px;
    height: 540px;
    left: 355px;
    top: 331px;
}

.sum-task-top {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.sum-task-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    width: 170px;
    height: 170px;
    border-radius: 30px;
    text-align: center;
    background-color: #ffffff;
}

.sum-task-number {
    width: 41px;
    height: 77px;
    font-size: 64px;
    font-weight: 600;
}

.sum-task {
    width: 87px;
    height: 50px;
    font-size: 21px;
    font-weight: 300;
}

.sum-mid-all {
    display: flex;
    flex-direction: row;
}

.sum-task-mid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 61px;
    width: 580px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.sum-mid-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 18px;
    height: 75px;
}

.sum-mid-left img {
    object-fit: cover;
}

.sum-mid-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    text-align: center;
}

.sum-mid-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
}

.sum-mid-greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 150px;
    width: 385px;
}

.sum-mid-span-greeting {
    font-size: 47px;
    font-weight: 500;
}

.sum-mid-span-username {
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
}

.sum-mid-span-top {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
}

.sum-mid-span-bottom {
    font-size: 16px;
    text-align: center;
}

.sum-bottom-overview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    width: 580px;
    height: 150px;
}

.sum-bottom-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: #FFFFFF;
    width: 272.5px;
    height: 150px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.sum-bottom-right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.addTaskContent {
    margin-top: 200px;
    margin-left: 450px;

}

.taskContent {
    display: flex;
    flex-direction: row;
}

.addToTaskTaskText {
    padding: 5px;
}

.prioButton {
    width: 70px;
    height: 25px;
}

.taskContentLeft {
    width: 400px;
    border-right: 0.2px solid black;
}

.content {
    display: flex;
    position: absolute;
    flex-direction: column;
}

.page {
    display: flex;
    justify-content: center;
}

/*
    legal notice css    // extra css datei ?
*/

.legal-overview {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 969px;
    left: 347px;
    top: 292px;
}

.arrow-left {
    position: absolute;
    width: 25px;
    height: 24px;
    left: 1281px;
    top: 165px;
}