body {
    font-family: 'inter', sans-serif;
    background-color: #F5F5F5;
}

button {
    border: unset;
    cursor: pointer;
}

input {
    padding: unset;
}

.d-none {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

/*
    #### CSS - HEADER ####
*/

.sidebar-header {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #2A3647;
    width: 232px;
    height: 1024px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 36px 20px 348px;
    gap: 34px;
    position: absolute;
    width: 1208px;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    font-size: 21px;
    background-color: #ffffff;
}

.head-container-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 26px;
    width: 106px;
    height: 49px;
}

.head-profile-img {
    width: 46.12px;
    height: 46.12px;
    border: 3px solid black;
    border-radius: 100%;
}

/*
    #### CSS - SIDEBAR ####
*/

.sidebar-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 66px 20px;
    font-size: 16px;
    font-weight: 400;
}

.sidebar-top img {
    width: 100px;
}

.sidebar-mid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 232px;
    height: 229px;
    gap: 15px;
    font-size: 16px;
    font-weight: 400;
}

.sidebar-link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 8px 53px;
    height: 46px;
}

.sidebar-mid a {
    color: white;
    text-decoration: none;
}

.sidebar-link img {
    padding-right: 20px;
}


.sidebar-bottom {
    display: flex;
    flex-direction: column;
    padding: 220px 0px 0px;
    gap: 15px;
    width: 232px;
    height: 289px;
    color: white;
}

.imprint {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 20px;
    width: 160px;
    height: 46px;
}

.sidebar-bottom span {
    margin-top: 2px;
    padding-left: 10px;
}

/*
    ####    END SIDEBAR - HEADER    ####
*/

.headline-index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 630px;
    height: 73px;
    left: 355px;
    top: 171px;
}

.headline-index p {
    font-size: 27px;
    font-weight: 400;

}

.headline-index span {
    font-size: 61px;
    font-weight: 700;
}

.summary-overview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    position: absolute;
    width: 580px;
    height: 540px;
    left: 355px;
    top: 331px;
}

.sum-task-top {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.sum-task-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    width: 170px;
    height: 170px;
    border-radius: 30px;
    text-align: center;
    background-color: #ffffff;
}

.sum-task-number {
    width: 41px;
    height: 77px;
    font-size: 64px;
    font-weight: 600;
}

/*Start of Style for add-task.html */

.addToTaskInputSection {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.addToTaskInputSectionRight {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.addTaskContent {
    margin-top: 200px;
    margin-left: 450px;
    width: max-content;
}

.taskContent {
    display: flex;
    flex-direction: row;
}

.taskContentLeft {
    border-right: 0.2px solid black;
}

.addToTaskTaskText {
    padding: 5px;
}

.prioButton {
    width: 70px;
    height: 25px;
}

.addTotaskInputField {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 13px 21px;
    width: 422px;
    min-height: 51px ; 
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    line-height: 120%;
}

.addTotaskInputField::placeholder {
    font-weight: 400;
    font-size: 21px;
    color: #D1D1D1;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.input-description {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 13px 21px;
    width: 422px;
    min-height: 119px ; 
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    line-height: 120%;
}

.input-description::placeholder {
    font-weight: 400;
    font-size: 21px;
    color: #D1D1D1;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.btn {
    border: solid 1px black;
    border-radius: 5px;
    width: 90px;
    height: 30px;
}

.btn:hover {
    cursor: pointer;
    background-color: #091931;
    color: white;
}

.btnRow {
    padding-left: 20px;
    padding-top: 40px;
}

.sidebarBottomLegalNotice {
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.sidebarBottomLegalNotice a {
    color: #FFFFFF;
    text-decoration: none;
}


.sidebarBottomLegalNotice:hover {
    background-color: #091931;
}

.subTaskPopUp {
    position: absolute;
    right: 250px;
    top: 150px;
    width: 850px;
    height: 600px;
    border: solid black 1px;
    border-radius: 15px;
    background-color: #36393c;
}

.subTaskPopUpWindow {
    padding: 10px;
}

.prio-icon {
    cursor: pointer;
}

.category-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 13px 0px;
    width: 422px;
    min-height: 51px ; 
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    line-height: 120%;
    cursor: pointer;
}

.category-box div:hover{
    background-color: red;
}

.selection-category {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 380px;
    padding-left: 21px;
    padding-right: 21px;
}

.select-category {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 380px;
    padding-left: 21px;
    padding-right: 21px;
    margin: unset;
}



/*End of Style for add-task.html */



.sum-task {
    width: 87px;
    height: 50px;
    font-size: 21px;
    font-weight: 300;
}

.sum-mid-all {
    display: flex;
    flex-direction: row;
}

.sum-task-mid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 61px;
    width: 580px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.sum-mid-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 18px;
    height: 75px;
}

.sum-mid-left img {
    object-fit: cover;
}

.sum-mid-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    text-align: center;
}

.sum-mid-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
}

.sum-mid-greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 150px;
    width: 385px;
}

.sum-mid-span-greeting {
    font-size: 47px;
    font-weight: 500;
}

.sum-mid-span-username {
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
}

.sum-mid-span-top {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
}

.sum-mid-span-bottom {
    font-size: 16px;
    text-align: center;
}

.sum-bottom-overview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    width: 580px;
    height: 150px;
}

.sum-bottom-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: #FFFFFF;
    width: 272.5px;
    height: 150px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.sum-bottom-right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}






/*
    LEGAL NOTICE
*/

.legal-overview {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 969px;
    left: 347px;
    top: 292px;
    height: 735px;
    overflow-y: scroll;
}

.arrow-left {
    position: absolute;
    width: 25px;
    height: 24px;
    left: 1281px;
    top: 165px;
}

/*
    #####       CONTACTS        ######
*/

.contact-overview {
    background-color: #29ABE2;
    position: absolute;
    width: 453px;
    height: 935px;
    left: 232px;
    top: 89px;
    overflow-y: scroll;
}

.contact-main {
    width: 1208px;
    height: 1024px;
}

.headline-index-contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 30px;
    position: absolute;
    width: 569px;
    height: 73px;
    left: 743px;
    top: 171px;
}

.headline-index-contact p {
    font-size: 27px;
    font-weight: 400;
}

.headline-index-contact span {
    font-size: 61px;
    font-weight: 700;
}

.contact-list-overview {
    position: absolute;
    width: 453px;
    height: 935px;
    left: 232px;
    top: 89px;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    overflow-y: scroll;
}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 357px;
    height: 1072px;
    left: 48px;
    top: 2px;
}

.first-char {
    width: 323px;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 24px;
    margin-bottom: 32px;
    margin-top: 10px;
    padding-left: 37.5px;
}

.contact-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 25px;
    gap: 35px;
    width: 357px;
    height: 79px;
    border-radius: 10px;
}

.contact-card:hover {
    background-color: #2A3647;
    color: white;
}

.contact-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin-left: 20px;
    padding: 5px;
    color: white;
}

.contact-img-big {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 20px;
    padding: 5px;
    color: white;
    font-size: 47px;
    letter-spacing: -5px;
    margin-left: 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 140px;
    height: 49px;
}

.contact-info span {
    font-size: 21px;
    font-weight: 400;
    width: max-content;
}

.contact-info p {
    font-size: 16px;
    color: #007cee;
    margin: 5px 0 0 0;
}

.show-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 21px;
    position: absolute;
    width: 600px;
    height: 364px;
    left: 750px;
    top: 326px;
}

.show-contact-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 47px;
    font-weight: 500;
}

.show-contact-headline-right {
    display: flex;
    flex-direction: column;
    margin-left: 54px;
    gap: 13px;
}

.show-contact-middle {
    display: flex;
    padding-top: 22px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;
    font-size: 21px;
    font-weight: 400;
    gap: 100px;
}

.edit-contact {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.new-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    position: absolute;
    width: 193px;
    height: 53px;
    left: 1195px;
    top: 907px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
}

.btn-contact-create {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 326px;
    height: 74px;
    padding: 18px 10px;
    gap: 10px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 21px;
}

.blue-font {
    color: #29ABE2;
    font-size: 16px;
    font-weight: 400;
}

.blue-font:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*
    BOARD
*/

.content {
    display: flex;
    position: absolute;
    top: 171px;
    left: 355px;
    flex-direction: column;
    width: 1208px;
}

.page {
    display: flex;
    justify-content: center;
}

.task-sections {
    display: flex;
    justify-content: space-between;
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

.task span {
    font-size: 21px;
    font-weight: 700;
}

.task img {
    cursor: pointer;
}

.add-task-btn {
    cursor: pointer;
    height: 51px;
    width: 137px;
    background-image: url(./assets/img/add-task.png);
}

.search-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 13px;
    gap: 10px;
    width: 251px;
    height: 49px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    background: #FFFFFF;
    background-image: url(./assets/img/lens.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
}

.add-search-bar {
    display: flex;
    justify-content: space-between;
    width: 421px;
}

.headline-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    font-size: 61px;
    font-weight: 700;
    padding-bottom: 100px;
}

.task-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.current-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* align-items: center;*/
    padding: 18px 19px;
    gap: 10px;

    width: 250px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    margin-top: 35px;


    /*padding: 10px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 10px;*/
}

.showTask {
    display: flex;
    width: 623px;

    border: 1px solid grey;
    border-radius: 15px;
    flex-direction: column;
    background-color: white;
    padding: 15px;
}

.show-Task-Background {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/*
    HELP
*/

.help-texts {
    box-sizing: border-box;
}

.help-number {
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 35px;
    box-sizing: border-box;
}

/*
    ####    POP-UP CSS    ####
*/

.show {
    animation: slide-in 0.5s;
}

.full-container {
    width: 1212px;
    height: 594px;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.3);
    scale: 0.7;
    top: -100px;
    left: -220px;
    z-index: 999;
    border-radius: 30px;
    background-color: #F5F5F5;
}


/*
    ##### MODAL BOX #####
*/

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 250px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 30%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes slide-in {
    from {
        transform: translateX(1000%);
    }

    to {
        transform: translateX(0%);
    }
}