/*
   #### SUMMARY ####
*/

@media (max-width: 1500px) {
    .sum-mid-greeting {
        left: 1000px;
        width: 250px;
    }
}

@media (max-width: 1300px) {
    .sum-mid-span-greeting {
        font-size: 40px;
    }

    .sum-mid-span-username {
        font-size: 55px;
    }
}

@media (max-width: 1200px) {
    .headline-index-summary {
        left: 330px;
    }

    .summary-overview {
        height: auto;
    }

    .sum-task-overview {
        width: 120px;
        height: 120px;
    }

    .sum-task-number {
        font-size: 45px;
        height: auto;
    }

    .sum-task {
        font-size: 19px;
    }

    .sum-task-mid {
        width: 430px;
        gap: 30px;
    }

    .sum-mid-left {
        gap: 0;
    }

    .sum-bottom-overview {
        width: 430px;
    }

    .sum-bottom-div {
        gap: 0;
    }

    .sum-mid-greeting {
        left: 830px;
        top: 460px;
    }

    .sum-mid-span-greeting {
        font-size: 38px;
    }

    .sum-mid-span-username {
        font-size: 48px;
    }
}


@media (max-width: 1000px) {
    .sum-mid-greeting {
        display: none;
    }

    .summary-overview {
        left: 300px;
    }

    .headline-index-summary {
        left: 280px;
        width: 560px;
        justify-content: space-evenly;
    }


    .headline-index-summary span {
        font-size: 50px;
    }

    .headline-index-summary p {
        font-size: 23px;
    }
}


@media (max-width: 850px) {
    .header {
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
        flex-direction: row;
        position: sticky;
        top: 0;
    }

    .header-contacts {
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
        flex-direction: row;

        top: 0;
    }

    .headline-index-summary {
        width: 100vw;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        position: unset;
        height: 190px;
    }

    .new-logo {
        width: 50px;
        display: block !important;
    }

    .header span {
        display: none;
    }

    .header-contacts span {
        display: none;
    }

    .headline-index-summary span {
        font-size: 46px;
    }

    .sidebar-mid a:nth-child(2) {
        margin-left: 0;
    }

    .headline-bar {
        display: none;
    }

    .headline-index-summary p {
        border-bottom: 3px solid #29abe2;
        margin: 10px;
    }

    .summary-overview {
        justify-content: center;
        align-items: center;
        width: 100vw;
        position: unset;
        gap: 15px;
        margin-top: 15px;
    }

    .sidebar-header {
        position: fixed;
        top: 95vh;
        display: flex;
        width: 100vw;
    }

    .sidebar-top {
        display: none;
    }

    .sidebar-center {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        flex: 1 1 0;
        flex-basis: 0;
    }

    .sidebar-mid {
        width: 100vw;
    }

    .sidebar-bottom {
        display: none;
    }

    .sidebar-mid a {
        height: 90px;
        /*padding: 0 12px;
        flex: 1 1 0;*/
        font-size: 20px;
        width: 25vw;
    }

    .sum-mobile {
        display: block;
        border-bottom: 0 !important;
        font-size: 20px;
    }
}


@media (max-width: 650px) {
    .sidebar-mid a {
        font-size: 18px;
        flex-direction: column-reverse;
    }

    .sidebar-mid a div {
        width: 35px;
    }

    .sidebar-mid a:nth-child(2) {
        padding-right: 0;
    }
}

@media (max-width: 550px) {
    .sidebar-mid a {
        font-size: 18px;
    }

    .sidebar-mid a div {
        width: 35px;
    }
}

@media (max-width: 450px) {



    .headline-index-summary p {
        font-size: 20px;
    }

    .sum-task-overview {
        width: 90px;
        height: 105px;
    }

    .sum-task {
        font-size: 15px;
    }

    .sum-task-top {
        gap: 25px;
    }

    .sum-mid-all {
        justify-content: center;
    }

    .sum-task-mid {
        width: 300px !important;
        gap: 20px;
        height: 130px;
    }

    .sum-mid-left {
        flex-direction: column-reverse;
        height: unset;
    }

    .sum-mid-left img {
        width: 50px;
    }

    .sum-mid-span-top {
        font-size: 18px;
    }

    .sum-bottom-overview {
        gap: 15px;
        width: 320px;
        height: 160px;
    }

    .sum-bottom-div {
        height: 150px;
        flex-direction: column-reverse;
        width: 150px;
    }

    .sum-bottom-div img {
        width: 50px;
    }

    .sum-bottom-right-section {
        height: 90px;
    }
}

@media (max-width: 400px) {
    .sidebar-mid a {
        font-size: 16px;
        padding: 0;
    }

    .sidebar-mid a:nth-child(2) {
        padding-right: 0;
    }

    .headline-index-summary {
        height: 135px;
    }

    .sidebar-mid {
        width: 93vw;
    }

    .sidebar-center {
        width: 93vw;
    }
}